.crypto-container {
  width: 100%;
  padding: 1rem;
  overflow-x: hidden;
  
  display:flex;
  justify-content: center;
  aling-item: centre;
}

.table-wrapper {
  overflow-x: auto;
  
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  table {
    font-size: 0.75rem;
  }

  th, td {
    padding: 6px;
  }
}
